[submodule "dottmux-plugins/tmux-powerline"]
	path = dottmux-plugins/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "dottmux-plugins/tmux-spotlight"]
	path = dottmux-plugins/tmux-spotlight
	url = https://github.com/humbledshuttler/tmux-spotlight.git
	branch = main
